<p id="notice"><%= notice %></p>

<h1>Villas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Subbody</th>
      <th>Main image</th>
      <th>Thumb image</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @villas.each do |villa| %>
      <tr>
        <td><%= villa.name %></td>
        <td><%= villa.body %></td>
        <td><%= villa.subbody %></td>
        <td><%= villa.main_image %></td>
        <td><%= villa.thumb_image %></td>
        <td><%= villa.status %></td>
        <td><%= link_to 'Show', villa %></td>
        <td><%= link_to 'Edit', edit_villa_path(villa) %></td>
        <td><%= link_to 'Destroy', villa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Villa', new_villa_path %>
