<div class="container-fluid footer-main">
    <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3 text-left">
            <%= image_tag('diamond-logo-250x250.png') %>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 text-right p-4">
              <h5 class="text-uppercase">Links</h5>
              <hr class="featurette-divider">
              <ul class="list-unstyled text-small">
                    <%= link_to "Welcome", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Villas", abouts_path, class:'text-muted' %></li>
                    <li><%= link_to "Facilities", facilities_path, class:'text-muted' %></li>
                    <li><%= link_to "About", abouts_path, class:'text-muted' %></li>
                    <%# <%= link_to "The Artists", profiles_path, class:'nav-link'  %> 
                    <%# <%= link_to "Guest Artists", profiles_path, class:'nav-link' %>
                    <%# <%= link_to "Blog", blogs_path, class:'nav-link' %>  
                    <li><%= link_to "Contact", contacts_path, class:'text-muted'%></li> 
                    <li><%= link_to "Term & Policies", contacts_path, class:'text-muted'%></li> 
            </ul>
          </div>

          <div class="col-sm-12 col-md-3 col-lg-3 text-right p-4">
            <h5 class="text-uppercase">Transfer</h5>
            <hr class="featurette-divider">
                 <ul class="list-unstyled text-small">
                    <%= link_to "Chaweng", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Bophut", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Lamai", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Hua Thanon", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Lipa Noi", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Nathon", root_path, class:'text-muted' %></li>
                    <%# <%= link_to "The Artists", profiles_path, class:'  %> 
                    <%# <%= link_to "Guest Artists", profiles_path, class:' %>
                    <%# <%= link_to "Blog", blogs_path, class:' %>  
                    <li><%= link_to "Maenam", root_path, class:'text-muted'%></li> 
                </ul>  
          </div>

          <div class="col-sm-12 col-md-3 col-lg-3 text-right p-4">
            <h5 class="text-uppercase">Where to go</h5>
            <hr class="featurette-divider">     
                <ul class="list-unstyled text-small">
                    <%= link_to "Chaweng Beach", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Big Budha", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Hinta Hinyai", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Tiger Zoo", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Fisherman Walking Street", root_path, class:'text-muted' %></li>
                    <li><%= link_to "Namuang Water Fall", root_path, class:'text-muted' %></li>
                    <%# <%= link_to "The Artists", profiles_path, class:'  %> 
                    <%# <%= link_to "Guest Artists", profiles_path, class:' %>
                    <%# <%= link_to "Blog", blogs_path, class:' %>  
                    <li><%= link_to "Maenam Beach", root_path, class:'text-muted'%></li> 
                </ul>  
          </div>
      </div>
    </div>
</div>

<div class="row">
      <div class="container mt-5">
        <p class="float-right"><a href="#" class="text-dark">Back to top</a></p>
        <p><%= copyright_helper 'Diamond Pool Villa Samui' %></p>
      </div>
</div>


 