<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container">
          <a class="navbar-brand featurette-heading" href="/welcomes" style="font-size:1.5em"><b><span style="color: #9d1e63">Diamond</span><span class="text-warning">PoolVilla</span></b></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <%= link_to "Welcome", root_path, class:'nav-link' %>
                  <%= link_to "Villas", villas_path, class:'nav-link' %>
                  <%# <%= link_to "Facilities", facilities_path, class:'nav-link' %>
                  <%# <%= link_to "About", abouts_path, class:'nav-link' %>
                  <%# <%= link_to "The Artists", profiles_path, class:'nav-link'  %> 
                  <%# <%= link_to "Guest Artists", profiles_path, class:'nav-link' %>
                  <%# <%= link_to "Blog", blogs_path, class:'nav-link' %>  
                  <%= link_to "Contact", contacts_path, class:'nav-link'     %>   
               </ul> 
                <ul class="navbar-nav">            
                              <a href="https://www.facebook.com/diamondpoolvillakohsamui", target="_blank"><%= fa_icon "facebook", style: "font-size: 1.5rem", class: 'nav-link' %> </a>
                              <a href="#" ><%= fa_icon "instagram", style: "font-size: 1.5rem", class: 'nav-link' %></a>
                              <a href="mailto:diamondvilla.samui@gmail.com" ><%= fa_icon "envelope", style: "font-size: 1.5rem", class: 'nav-link' %></a>
                              <a href="tel:+66952524878" > <%= fa_icon "phone", style: "font-size: 1.5rem", class: 'nav-link ml-2' %></a>
                          <div class="pl-3">
                          </div>
                </ul>
          </div>
        </div>
  </nav>
</header>