
<div stle="background-color: #eaeaea">
  <div class="container">
    <h1 class="featurette-heading">Amennoties/Facilicies</h1>
     </div>
    <hr class="featurette-divider">
</div>
<div class="container mt-5 mb-5" style="margin-top: 100px; margin-bottom: 250px"> 
      <div class="row">
          
      </div>
      <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">  

                <% @facilities.each do |facility| %> 
                  <div class="row mt-5">         
                        <div class="col-sm-12 col-md-4 col-lg-4">  
                              <%= image_tag('diamond-poolvilla-pool-01.jpg', class: "img-fluid") %>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">  
                              <%= facility.name %>
                        </div>  
                        <div class="col-sm-12 col-md-4 col-lg-4">  
                              <%= facility.description %>
                        </div> 

                         <%= link_to 'Edit', edit_facility_path(facility) %>
                              <%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %>     
                  </div> 
                <% end %> 
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                       
                              
                             
                       </div>
            </div>
      </div>
</div>



