<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @facility.description %>
</p>

<p>
  <strong>Main img:</strong>
  <%= @facility.main_img %>
</p>

<p>
  <strong>Thumb img:</strong>
  <%= @facility.thumb_img %>
</p>

<p>
  <strong>Status:</strong>
  <%= @facility.status %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
