<div stle="background-color: #eaeaea">
  <div class="container">
    <h1 class="featurette-heading">About Us</h1>
     </div>
    <hr class="featurette-divider">
</div>

<div class="container">
    <% @abouts.each do |about| %>
      <div class="row">
          
          <div class="col-sm-12 col-md-6 col-sm-6">
            <p class="text-muted"><%= about.title %></p>
            <p><%= about.subtitle %></p>
            <p class="lead"><%= about.body %></p>
            <p><%= about.main_img %></p>
            <p><%= about.thumb_img %></p>
            <p><%= about.status %></p>
            <p><%= link_to 'Show', about %>
            <%= link_to 'Edit', edit_about_path(about) %>
            <%= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>

          <div class="col-sm-12 col-md-6 col-sm-6">
            <%= image_tag('') %>
          </div>
      </div>

    <% end %>
<%= link_to 'New About', new_about_path %>
</div>