<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feature.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @feature.body %>
</p>

<p>
  <strong>Main img:</strong>
  <%= @feature.main_img %>
</p>

<p>
  <strong>String:</strong>
  <%= @feature.string %>
</p>

<p>
  <strong>Thumb img:</strong>
  <%= @feature.thumb_img %>
</p>

<p>
  <strong>Status:</strong>
  <%= @feature.status %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
